body,#chat-input,#chat-input-text,#conversation{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container,#description-title,#description-text{
  text-align: center;
  margin: 0 auto;
  max-width: 700px;   
}

#description{
    padding: 50px;
    width: auto;
    color: grey;
}

h1{
    text-align: center;
    padding: 20px;
    color: rgb(55, 55, 62);
}

#conversation {
    padding: 10px;   
    text-align: left;
    width: 100%;   
    background: linear-gradient(to right, #e66465, #9198e5); 
    border-radius: 2px;
    color:white;
    font-size: medium;
}

.logo{
    display: block;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.message-user {
    font-size: medium;
    padding: 5px;
}

.message-assistant {
    font-size:medium;
    padding: 5px; 
}

#chat-input {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 5px;
}

#chat-input-text{
    font-size: medium;
    width: 100%;
    padding: 5px;
    border-color:#445252;
    border-width: 2px;
    border-radius: 2px;
}



.foldable {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

.foldable.expanded {
    height: auto;
    font-size: medium;
}

#prompt{
    font-size: medium;
    width: 80%;
    padding: 5px;
    border: 1.5px solid rgb(138, 106, 242);
    border-radius: 2px;
}



#model-select-dropdown {
    flex: 1; /* Take up remaining space */
    padding: 5px;
    border: 0px solid #ccc;
    border-radius: 3px;
    margin-right: 10px; /* Add some space between dropdown and input */
}

.btn{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    margin: 10px 3px;
    padding: 8px;
    border: 1px;
    border-radius: 2px;
    font-size: large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.btn:hover{
    background-color:rgb(138, 106, 242);
    font-weight: bold;
}

.red {
    color: #f00;
    text-shadow: #f22 1px 0 12px;
}

.orange {
    color: #fb1100;
    text-shadow: orange 1px 2 10px;
}

.yellow {
    color: #ffaa88;
    text-shadow: #dddd22 1px 0 5px;
}

.almostwhite {
    color: #ffeeaa;
    text-shadow: #eeffaa 1px 0 2px;
}

.blue {
    color: rgb(0, 183, 255);
}

.purple {
    color: rgb(64, 1, 254);
}

.white {
    color: white;
    text-shadow: none;
}


.note-area{ 
    text-align: center;
    height: 50vh;
 }

#note-input-text{
    font-size: medium;
    width: 50%;
    height: 100px;
    border-color:#445252;
    border-width: 2px;
    border-radius: 2px;
}